body{
	background-image: url('../FOTOS/FONDO3.jpg');
}
*{
	padding: 0px;
	margin: 0px;
}

.im{
	width: 1000px;
}
.contenedor{
	width: 1000px;
	margin: 30px auto;
	overflow: hidden;
}

.contenedor ul{
	list-style: none;
	width: 4000px;
	display: flex;
	animation: slide 20s infinite alternate;
}

@keyframes slide{
	0%{margin-left: 0px;}
	20%{margin-left: 0px;}

	25%{margin-left: -700px;}
	45%{margin-left: -700px;}

	50%{margin-left: -1400px;}
	75%{margin-left: -1400px;}

	75%{margin-left: -2100px;}
	100%{margin-left: -2100px;}
}